################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ShoppingCart.Database/ShoppingCart.Database.jfm
